@page
@{
}
<h1>Thêm hành khách</h1>
﻿<form action="ThemHanhKhach" method="post">
    <label>Mã hành khách</label>
    <input type="text" name="mahk"></input></br>
    <label>Tên hành khách</label>
    <input type="text" name="hoten"></input></br>
    <label>Địa chỉ</label>
    <input type="text" name="diachi"></input></br>
    <label>Điện thoại</label>
    <input type="text" name="dienthoai"></input></br>
    <input type="submit" name="submit" value="Thêm"></input>
</form>