@page
@{
}
<h1>Xem thông tin chuyến bay</h1>
<form action="XemThongTinChuyenBay" method="post">
    <label>Mã chuyến bay</label>
    <input type="text" name="machuyenbay"></input></br>
    <input type="submit" name="submit" value="Liệt kê"></input>
</form>